*{
	margin:0;
	padding:0;
}

	h1{
		text-align: center;
		background-color: black;
		color:white;
		padding:10px;
		margin:0px;
	}

	#mainNav{
		text-align:center;
		background-color: black;
		padding-bottom: 5px
	}
		.navBoxes{
			display:inline-block;
			width:15%;
			border: 2px black solid;
			padding:5px 0px;
			text-align:center;
			border:1px white solid;
		}

			#mainNav ul{
				list-style-type: none;
			}

				#mainNav a{
					color:white;
					text-decoration: none;
				}
					#mainNav a:visited{
						color:white;
					}
					#mainNav a:hover{
						color:red;
						font-weight: bold;
					}

	section{
		display: inline-block;
		box-sizing: border-box;
		}

		.left{
			float:left;
		}
		.right{
			float:right;
		}

		.w30{
			width:30%;
			box-sizing: border-box;
					}
		.w70{
			width:70%;
			box-sizing: border-box;
			float:right;
		}
			img{
				width:100%;
			}
		#About{
			border:1px black solid;
		}
			h2{
				border-bottom:1px black solid;
				color:red;
				padding:10px;
			}
			#About table{
				width:100%;
			}
				#About tr{
					padding:5px;
				}
				#About td{
					padding:5px;
					border-bottom: 1px grey dotted;
				}
				.mainColumn{
					font-weight: bold;
				}
				#About p{
					margin:10px;
					line-height: 2em;
				}

